{% extends 'layout.html' %}

{% block title  %} E-motors {% endblock %}

{% block content %}
<header class="header"> 
    <a href="#home" class="logo"><i>E-</i> 
    <span><i>MOTORS</i></span> </a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#Education">Production</a>
        <a href="#services">Services</a>
        <a href="#testimonials">Testimonials</a>
        <a href="#contact">Contact</a>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
        <a href="/store">Store</a>


    </nav>

</header>

<section class="home" id="home">
    <div class="home-content">
        <br><br><br><br><br><br>
        <h1>Welcome to E-Motors</h1>
        <h3 class="text-animation">  Drive the future, Recharge yourself with energy!!!
            <span></span>
            <p>E-motors is the leading online store for self-sustaining electric motorcycles. Here you will find a wide range of innovative electric motorcycles, designed to combine efficiency, styles and environmental awareness not only focuses on the best technology in electric vehicles, but also on environmental sustainability.</p>


                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61555944231362" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="https://www.instagram.com/g3ra_oficial/" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.linkedin.com/in/gerardo-castillo-3b4aa7313/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://www.youtube.com/@G3ra-official" target="_blank"><i class='bx bxl-youtube'></i></a>
                    <a href="https://github.com/Rockstarblu123" target="_blank"><i class='bx bxl-github'></i></a>
                    <a href="https://www.tiktok.com/@g3ra_oficial?_t=8jA9C3oHtQc&_r=1" target="_blank"><i class='bx bxl-tiktok'></i></a>
                </div>

                <div class="btn-group">
                    <a href="#services" class="btn">services</a>
                    <a href="#contact"class="btn">contact</a>
                </div>

                <div class="home-img">
                    <img  src="/static/img/moto electrica 1.jpg" alt="moto electrica">
                    <img src="/static/img/moto electrica 3.jpg" alt="moto electrica 2">
                    <img src="/static/img/moto electrica 2.jpg"alt="moto electrica 3">
                </div>



        </h3>
        
    </div>
</section>

<!-- hola -->

<section class="Education" id="Education">
    <h2 class="heading">Production</h2>

    <div class="timeline-items">

        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">
                    P:01.
                </div>
                <div class="timeline-content">
                    <h3>motorcycle disassembly</h3>
                    <p>
                        the motorcycle is dismantled to be able to do the work safely to avoid damage to the motorcycle and do a good job both electrically and in suspension and combustion engine.
                    </p>
                </div>
            
        </div>
        

        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">
                    P:02.
                </div>
                <div class="timeline-content">
                    <h3>motorcycle paint
                    </h3>
                    <p>
                        after the dismantling of the motorcycle, the motorcycle is painted so that it looks better and does not stay in the position of dismantling, so it will have a better aesthetic and the parts of the motorcycle can be seen better.
                    </p>
                </div>
            
        </div>


        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">
                    P:03.
                </div>
                <div class="timeline-content">
                    <h3>electric motor
                    </h3>
                    <p>
                        the electric motor is mounted and the position is adjusted including the controller and the energy generator, to have a greater accommodation and take advantage of all the available space
                    </p>
                </div>
            
        </div>


        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">
                    P:04.
                </div>
                <div class="timeline-content">
                    <h3>preparation quote</h3>
                    <p>
                        all the preparations for the dismantling and painting of the motorcycle are quoted in addition to the materials for the motorcycle and the electric motor so that more components can be bought in the future and we make a world with less pollution and more cost savings.
                    </p>
                </div>
            
        </div>
        

    </div>
        
    

</section>

<section class="services" id="services">
    <h2 class="heading">services</h2>

    <div class="services-container">
        <div class="service-box">
            <div class="service-info">
                <h4>From gasoline to electric</h4>
                <p>conversion of gasoline motorcycles to electric motorcycles to save money and have a better environment.</p>
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>energy self-generator</h4>
                <p>the energy self-generator is a device that generates energy from the movement of the motorcycle, this energy is stored in a battery and is used to move the motorcycle.</p>:
            
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>electric motorcycle parts</h4>
                <p>we have all the parts for electric motorcycles, such as batteries, controllers, motors, etc.</p>:
            
            </div>
        </div>

        <div class="service-box">
            <div class="service-info">
                <h4>aesthetic modifications</h4>
                <p>we make aesthetic modifications to the motorcycle, such as painting, decals, etc.</p>
            
            </div>
        </div>

        
    </div>
</section>

<section class="testimonials" id="testimonials">
    <div class="testimonials-box">
        <h2 class="heading">Testimonials</h2>

        <div class="wrapper">
            <div class="testimonials-item">
                <img src="/static/img/foto de perfil 1.jpg" alt="">
                <h2>Johan</h2>
                <div class="rating">
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                </div>
                <p>"I recently purchased my electric motorcycle equipped with its autonomous energy-generating system, and I couldn’t be more impressed! Not only do I no longer worry about running out of battery, but the convenience of recharging while riding is a game changer. It’s powerful, efficient, and incredibly eco-friendly. This innovation is perfect for anyone looking to save money on energy and embrace sustainable living. I highly recommend it to anyone who wants to experience the future of riding!"</p>
            </div>

            <div class="testimonials-item">
                <img src="/static/img/foto de perfil 2.jpg"alt="">
                <h2>Jordan</h2>
                <div class="rating">
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                </div>
                <p>"Switching to this electric motorcycle was one of the best decisions I’ve made. Its built-in energy-generating motor allows me to travel long distances without needing to stop and recharge. I love the seamless transition and how it supports my lifestyle without compromising performance or reliability. It's a must-have for any rider looking for a cost-effective, environmentally friendly, and truly revolutionary vehicle. Once you experience the freedom of self-sustaining energy, you'll never go back!"</p>
            </div>

            <div class="testimonials-item">
                <img src="/static/img/foto de perfil 3.jpg"alt="">
                <h2>Janet</h2>
                <div class="rating">
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                    <i class='bx bxs-star' id="star"></i>
                </div>
                <p>"I was initially skeptical about electric motorcycles, but this one has changed my perspective entirely. With its self-charging motor, I never have to worry about finding a charging station or waiting for hours. The ride is smooth, quiet, and packed with power, making it perfect for city commutes and countryside adventures alike. Plus, knowing that I'm contributing to reducing emissions while enjoying the open road feels fantastic. This technology is the future, and I’m glad I made the switch!"</p>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <h2 class="heading">contact <span>Me</span>
    </h2>

    <form action="">
        <div class="input-group">
            <div class="input-box">
                <input type="text"
                placeholder="Full Name">
                <input type="email"
                placeholder="gmail">
            </div>

            <div class="input-box">
                <input type="number"
                placeholder="phone Number">
                <input type="text"
                placeholder="subject">
            </div>
        </div>

        <div class="input-group-2">
            <textarea name="" id="" cols="30"
            rows="10"
            placeholder="Your Message"></textarea>
            <input type="submit"
            value="Send Message" class="btn">
        </div>
    </form>
</section>



{% endblock %}