<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/Main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/static/img/icono.ico">
    
</head>
<body>

{% block content  %}{% endblock %}

<footer class="footer">
    <div class="social">
        <a href="https://www.facebook.com/profile.php?id=61555944231362" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="https://www.instagram.com/g3ra_oficial/" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.linkedin.com/in/gerardo-castillo-3b4aa7313/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://www.youtube.com/@G3ra-official" target="_blank"><i class='bx bxl-youtube'></i></a>
                    <a href="https://github.com/Rockstarblu123" target="_blank"><i class='bx bxl-github'></i></a>
                    <a href="https://www.tiktok.com/@g3ra_oficial?_t=8jA9C3oHtQc&_r=1" target="_blank"><i class='bx bxl-tiktok'></i></a>
    </div>

    <p class="copyright">
        G3ra_oficial © | All Rights Reserved 2024 
    </p>
</footer>


    <script src="script.js"> </script>
</body>
</html>