<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="/static/css/Main.css">
</head>
<body>

    <section class="home" id="home">
        <div class="home-content">
            <br><br><br><br><br><br>
            <h1>
                Welcome to <i>E-</i> <span><i>MOTORS</i></span>  {{nombre}} 
            </h1>
            <h3 class="text-animation">  Drive the future, Recharge yourself with energy!!!</h3>
        </div>
    </section>
</body>
</html>